.banner {
    width: 100%;
    background-color: #007Ba7;
    display: flex;
}

.logo {
    justify-content: left;
    color: #f5f5ff;
    padding-top: 4px;
    padding-left: 8px;
}

.tab {
    color: #f5f5ff;
    margin: 6px;
}

.tab-list {
    padding-left: 16px;
}

.auth-actions {
    color: #f5f5ff;
    margin-left: auto;
    padding-right: 8px;
}

.auth-actions a {
    color: inherit;
}

.auth-actions a:visited {
    color: inherit;
}

.posts-view {
    flex: 0 0 61%;
    margin: 6px;
    border: 1px solid #ccc;
}

.post-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 6px;
}

.post {
    margin: 4px;
    padding: 6px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.post-title {
    font-size: large;
}

.post-title > a:color {
    color: #007199;
}

.post-title > a:visited {
    color: #007eab;
}

.post-info {
    display: flex;
}

.post-info-left {
    font-size: smaller;
    flex: 0 0 auto; /* no grow, no shrink; "content-width" */
    padding: 0.5rem;
}

.post-info-right {
    font-size: smaller;
    padding: 0.5rem;
    color: #276173;
}

.post-controls {
    font-size: smaller;
    text-align: right;
}
