# This is the Github continuous integration job for `indielinks`.

# It runs on Ubuntu, using three versions of Rust: a "pined" least
# supported version, the current stable version and the current
# nightly version. After building, it will run the unit & integration
# test suites.

name: Continuous Integration

on:
  workflow_dispatch:
  pull_request:
  push:
  schedule:
    - cron: '56 01 * * *'

jobs:
  build:
    name: build
    strategy:
      matrix:
        rust-build:
          - pinned
          - stable
          - nightly
        # I suppose I could add older ubuntu versions, but why?
        os: [ubuntu-latest]
        include:
        - rust-build: pinned
          os: ubuntu-latest
          rust: 1.88
        - rust-build: stable
          os: ubuntu-latest
          rust: stable
        - rust-build: nightly
          os: ubuntu-latest
          rust: nightly
    runs-on: ${{ matrix.os }}
    env:
      RUST_BACKTRACE: 1
    steps:

    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust }}

    # https://university.scylladb.com/setup-a-scylla-cluster/?utm_source=chatgpt.com
    - name: Configure System
      if: matrix.os == 'ubuntu-latest'
      shell: bash
      run: |
        echo "fs.aio-max-nr = 1048576" | sudo tee -a /etc/sysctl.conf
        sudo sysctl -p /etc/sysctl.conf
        echo "127.0.0.1    indiemark.local" | sudo tee -a /etc/hosts

    - name: Install tools
      shell: bash
      run: |
        sudo apt install protobuf-compiler
        rustup component add clippy
        rustup component add rustfmt
        rustup target add wasm32-unknown-unknown
        cargo install --locked cargo-audit

    - name: Lint
      shell: bash
      run: 'admin/run-linters'

    # Un-comment this step to enable ssh'ing into the runner & trouble-shoot
    # - name: Setup tmate session
    #   uses: mxschmitt/action-tmate@v3

    - name: Build indielinks & run unit & integration tests
      shell: bash
      run: 'admin/cargo-build-test-smoke all-cores'
